@font-face {
    font-family: 'japones';
    src: url('./assets/fonts/NightinTokyo.ttf');
}
@font-face {
    font-family: 'japones';
    src: url('./assets/fonts/NightinTokyo-Bold.ttf');
    font-weight: bold;
}
@font-face {
    font-family: 'japones';
    src: url('./assets/fonts/NightinTokyoShadow.ttf');
    font-style: italic;
}


@font-face{
    font-family: japanese;
    src: url('./assets/fonts/Shenttpuro\ Font.ttf');
}
body{
    font-size: large;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

p, ul{
    display: inline-block;
    font-size: large;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-justify: auto;
}
h1{
    font-family: japones;
    font-size:3rem;
    font-style: italic;
    text-align: center;
    color: rgb(255, 255, 255);
    scroll-margin-top: 3rem;
}
h2{
    font-family: japones;
    font-size: x-large;
    text-align: center;
    color: #26DBF4;
    scroll-margin-top: 3rem;
}
h3{
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: large;
    color: #33A502;
    scroll-margin-top: 3rem;
}

form{
    margin: 0% 5%;
    background-color: rgba(0, 0, 0, 0.08);
}

form h2{
    color: #F4263E;
}


section{
    margin: 0 10%;
}

.encargo{
    background-color: #f4263e65;
    border-radius: 20px;
    
}
.encargo div{
    display: inline-flex;
    justify-content: center;
    margin: 1% 10%;
}
.negritas{
    font-weight: bold;
}

#BarraHTML {
    background-color: #FF6A00;
        padding: 10px;
        position:sticky;
        text-align: center;
        top: -130px;
        width: 100%;
    z-index: 10000;
    }
    
    #BarraHTML ul{
        text-align: center;
        display:flex;
        justify-content: center;
        flex-wrap: wrap;
        list-style-type: none;
    }
    #BarraHTML li{ 
        padding: 0;
        font-family: japones;
        display:inline-block;
        text-align: center;
        margin: 1rem 3rem 1rem 3rem;
    }
    #BarraHTML li a {
        padding: 1px 1px 1px 1px;
        color: white;
       text-decoration: none;
    }

    #BarraInferior {
        background-color: #F4263E;
            padding: 0px;
            position: relative;
            bottom: 0%;        
        

            text-align: center;
            font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
            
            width: 100%;
            height: 20%;
        z-index: 10000;
        }
        
        #BarraInferior p{
            color: #eee;
            margin: -3rem 0 0 0;
        }    

        .letraNaranja{
            color: #FF6A00;
        }
        .letraMorada{
            color:#E7BAF6;
        }
        .letraRoja{
            color: #F4263E;
        }
        .letraVerde{
            color: #33A502;
        }
        .letraAzul{
            color:#26DBF4;
        }

    .mapouter{
        
        display: block;
    }    


    #B_Home a:hover{
        background-color: #FF6A00;
        color: white;
    }
    #B_Que a:hover{
        
        background-color: #E7BAF6;
        color: white;
    }
    #B_Estilos a:hover{
        background-color: #F4263E;
        color: white;
        transform: scale(3);
    }
    #B_Pedido a:hover{
        background-color: #33A502;
        color: white;
    }
    #B_Contacto a:hover{
        background-color: #26DBF4;
        color: white;
    }

    #B_Contacto a:hover, #B_Home a:hover, #B_Pedido a:hover, #B_Que a:hover, #B_Estilos a:hover, .carousel p{
        -moz-border-radius-topleft: 10px;
        -moz-border-radius-topright: 10px;
        -moz-border-radius-bottomright: 0px;
        -moz-border-radius-bottomleft: 0px;
        -webkit-border-radius: 10px 10px 0px 0px;
        border-radius: 5px 5px 5px 5px;
    }
    #logo1{
        position: relative;
        top: 0rem;
        width: auto;
        
    }
    img{
        margin: auto;
        display: block;
    }
    #encabezado img{
        width: 300px;
    } 

    .grow { 
        transition: all .2s ease-in-out; 
        }
        
    .grow:hover { 
        transform: scale(2);

        }




          /* external css: flickity.css */

* { box-sizing: border-box; }

.formulario{
    background-image:url("./assets/nekoyaki_logo_transparente_todo.png");
    background-position:center;
    background-repeat: no-repeat;
    background-color: #33a5023a;
    background-attachment: fixed;
    background-size: 20%;
    border-radius: 5rem;
}
.formulario input{
    border-radius: 5px;
}
.formulario p{
    margin: 0 15%;
}


.estilo{
    background-color: #33A502;
    margin: 15px;
    width: 200px;
    height: auto;
    border-radius: 10px;
    
}

.estilo img{
    width: 100px;
    height: 100px;
    border-radius: 50px;
}

.estilo label{
    color: white;
}

.formulario{
    margin: 5%;
}

.fotos{
    display: inline-flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0% 15%;
}

.formulario input[type=checkbox], .formulario input[type=radio]{
    cursor: pointer;
}



.formulario div{
/*    margin: 0% 10%;*/
}

/*Funciones del mapa*/

#Mapa{
        padding: 0;
        text-align: center;
        width: 100%;

}
#Mapa ul{
    text-align: center;
    list-style-type: none;
}
#Mapa li{ 
    padding: 0;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    
}


































.carousel {
    margin: auto;
  background: #f4263e48;
  background-image: url("./assets/nekoyaki_logo_transparente_todo.png");
  background-size: contain;
  background-position: center;
  background-size: 30%;
  background-repeat: no-repeat;
  width: 80%;
  border-radius: 30px;
}

.carousel p{
    position: absolute;
    margin-top: 32%;
    color: #eee;
    background-color: #F4263E;
    text-align: center;
    
}

.carousel-cell {
  width: 70%;
  height: 200px;
  /* flex-box, center image in cell */
  display: -webkit-box;
  display: -webkit-flex;
  display:         flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
          justify-content: center;
  -webkit-align-items: center;
          align-items: center;
}

.carousel-cell img {
  display: block;
  max-width: 100%;
  max-height: 100%;
  /* dim unselected */
  opacity: 0.7;
  -webkit-transform: scale(0.85);
          transform: scale(0.85);
  -webkit-filter: blur(5px);
          filter: blur(5px);
  -webkit-transition: opacity 0.3s, -webkit-transform 0.3s, transform 0.3s, -webkit-filter 0.3s, filter 0.3s;
          transition: opacity 0.3s, transform 0.3s, filter 0.3s;
}

/* brighten selected image */
.carousel-cell.is-selected img {
  opacity: 1;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-filter: none;
          filter: none;
}

@media screen and ( min-width: 768px ) {
  .carousel-cell {
    height: 400px;
  }
}

@media screen and ( min-width: 960px ) {
  .carousel-cell {
    width: 60%;
  }
}

/* buttons, no circle */
.flickity-prev-next-button {
  width: 60px;
  height: 60px;
  background: transparent;
  opacity: 0.6;
}
.flickity-prev-next-button:hover {
  background: transparent;
  opacity: 1;
}
/* arrow color */
.flickity-prev-next-button .arrow {
  fill: #F4263E;
}
.flickity-prev-next-button.no-svg {
  color: #F4263E;
}
/* closer to edge */
.flickity-prev-next-button.previous { left: 0; }
.flickity-prev-next-button.next { right: 0; }
/* hide disabled button */
.flickity-prev-next-button:disabled {
  display: none;
}

